<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <!-- Base configuration for all modules -->
        <configuration name="Foundation.GoogleTagManager" description="Foundation.GoogleTagManager Root items" extends="Helix.Foundation">
          <predicate>
            <include name="Api Key Definition" database="master" path="/sitecore/system/Settings/Services/API Keys/Google Tag Manager" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>